.promo-banner{
	position:relative;
	overflow: hidden;
}
.promo-banner .banner-hover a{position:absolute; top:0; left:0; width:100%; height:100%}
.promo-banner .text-container h1,.promo-banner .text-container .h1, .promo-banner .text-container h2, .promo-banner .text-container h3, .promo-banner .text-container h4,.promo-banner .text-container h5,.promo-banner .text-container h6,.promo-banner .text-container p {
	margin: 0;
}
.promo-banner .text-container {
	position: absolute;
	padding: 30px;
	z-index: 98;
}
.promo-banner .text-left {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	text-align: left;
}
.promo-banner .text-top-left {
	left: 0;
	top: 0;
	bottom: auto;
}
.promo-banner .text-right {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 0;
	text-align: right;
}
.promo-banner .text-top-right {
	right: 0;
	top: 0;
	bottom: auto;
}
.promo-banner .text-center {
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.promo-banner .text-top-center {
	top: 0;
	width: 100%;
	text-align: center;
}
.promo-banner .text-bottom-center {
	bottom: 0;
	width: 100%;
	text-align: center;
}
.promo-banner .text-bottom-left {
	bottom: 0;
	left: 0;
	top: auto;
}
.promo-banner .text-bottom-right {
	bottom: 0;
	right: 0;
	top: auto;
}
.promo-banner .view-more { margin-top: 10px; }
.promo-boxed .promo-banner {
	background-color: #fff;
	padding: 20px;
}