<?xml version="1.0"?>
<config>
    <modules>
        <MGS_Deals>
            <version>0.1.0</version>
        </MGS_Deals>
    </modules>
    <frontend>
        <routers>
            <deals>
                <use>standard</use>
                <args>
                    <module>MGS_Deals</module>
                    <frontName>deals</frontName>
                </args>
            </deals>
        </routers>
        <layout>
            <updates>
                <deals>
                    <file>deals.xml</file>
                </deals>
            </updates>
        </layout>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<MGS_Deals after="Mage_Adminhtml">MGS_Deals_Adminhtml</MGS_Deals>
					</modules> 
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <mgscore module="mgscore">
                <children>
                    <deals module="deals">
                        <title>Deals</title>
                        <sort_order>2</sort_order>    
                        <children>
                            <items module="deals">
                                <title>Report</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/deals</action>
                            </items>
                            <config module="deals">
                                <title>Configuration</title>
                                <sort_order>2</sort_order>
                                <action>adminhtml/system_config/edit/section/deals</action>
                            </config>
                        </children>
                    </deals>
                </children>
            </mgscore>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <deals module="deals">
                            <title>Deals</title>
                            <sort_order>2</sort_order>
                            <children>
                                <items module="deals">
                                    <title>Report</title>
                                    <sort_order>1</sort_order>
                                </items>
                                <config module="deals">
                                    <title>Configuration</title>
                                    <sort_order>2</sort_order>
                                </config>
                            </children>
                        </deals>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <deals translate="title">
                                            <title>Daily Deals</title>
                                            <sort_order>889</sort_order>
                                        </deals>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <deals>
                    <file>deals.xml</file>
                </deals>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <deals>
                <class>MGS_Deals_Model</class>
                <resourceModel>deals_mysql4</resourceModel>
            </deals>
            <deals_mysql4>
                <class>MGS_Deals_Model_Mysql4</class>
                <entities>
                    <deals>
                        <table>mgs_deals</table>
                    </deals>
                </entities>
            </deals_mysql4>
            <sales>
                <rewrite>
                    <order>MGS_Deals_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <deals_setup>
                <setup>
                    <module>MGS_Deals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deals_setup>
            <deals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deals_write>
            <deals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deals_read>
        </resources>
        <blocks>
            <deals>
                <class>MGS_Deals_Block</class>
            </deals>
            <!--catalog>
                <rewrite>
                    <product_list>MGS_Deals_Block_List</product_list>
                </rewrite>
            </catalog-->
        </blocks>
        <helpers>
            <deals>
                <class>MGS_Deals_Helper</class>
            </deals>
        </helpers>
		
        <events>    
            <catalog_product_save_after>
                <observers>
                    <mgs_deals>
                        <type>singleton</type>
                        <class>deals/observer</class>
                        <method>saveDeals</method>
                    </mgs_deals>
                </observers>
            </catalog_product_save_after>
			
            <sales_order_status_after>
                <observers>
                    <deals_update_qty>
                        <type>singleton</type>
                        <class>deals/observer</class>
                        <method>updateQty</method>
                    </deals_update_qty>
                </observers>
            </sales_order_status_after>
			
            <checkout_cart_product_add_after>
                <observers>
                    <deals_update_price>
                        <type>singleton</type>
                        <class>deals/observer</class>
                        <method>modifyPrice</method>
                    </deals_update_price>
                </observers>
            </checkout_cart_product_add_after>
			
            <checkout_cart_update_items_after>
                <observers>
                    <deals_update_cart>
                        <type>singleton</type>
                        <class>deals/observer</class>
                        <method>updateCart</method>
                    </deals_update_cart>
                </observers>
            </checkout_cart_update_items_after>
			
            <sales_order_place_after>
                <observers>
                    <sales_order_observer>
                        <type>singleton</type>
                        <class>deals/observer</class>
                        <method>updateDeals</method>
                    </sales_order_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <!--sales>
            <quote>
                <totals>
                    <mgs_deals>
                        <class>deals/quote</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </mgs_deals>
                </totals>
            </quote>
        </sales-->
    </global>
    <default>
        <sales>
            <totals_sort>
                <mgs_deals>15</mgs_deals>
            </totals_sort>
        </sales>
        <deals>
            <general>
                <enabled>1</enabled>
                <link>1</link>
                <update>order</update>
            </general>
            <deals_page>
                <title>Daily Deals</title>
                <breadcrumbs>1</breadcrumbs>
                <grid_per_page_values>5,10,20</grid_per_page_values>
                <all>1</all>
            </deals_page>
        </deals>
    </default>
</config>