<?xml version="1.0"?>
<!--
/******************************************************
 * Package   : Brand
 * Author    : HIEPNH
 * Copyright : (c) 2015
*******************************************************/
-->
<config>
    <modules>
        <MGS_Brand>
            <version>1.2</version>
        </MGS_Brand>
    </modules>
    <frontend>
        <routers>
            <brand>
                <use>standard</use>
                <args>
                    <module>MGS_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
        <layout>
            <updates>
                <brand>
                    <file>mgs_brand.xml</file>
                </brand>
            </updates>
        </layout>
        <!--        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <mgs_brand_model_observer>
                        <class>brand/observer</class>
                        <method>addToTopmenu</method>
                    </mgs_brand_model_observer>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>-->
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<MGS_Brand after="Mage_Adminhtml">MGS_Brand_Adminhtml</MGS_Brand>
					</modules> 
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <brand>
                    <file>mgs_brand.xml</file>
                </brand>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <brand>
                <class>MGS_Brand_Model</class>
                <resourceModel>brand_mysql4</resourceModel>
            </brand>
            <brand_mysql4>
                <class>MGS_Brand_Model_Mysql4</class>
                <entities>
                    <brand>
                        <table>mgs_brand</table>
                    </brand>
                    <store>
                        <table>mgs_brand_store</table>
                    </store>
                    <product>
                        <table>mgs_brand_products</table>
                    </product>
                </entities>
            </brand_mysql4>
        </models>
        <resources>
            <brand_setup>
                <setup>
                    <module>MGS_Brand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <blocks>
            <brand>
                <class>MGS_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
            <brand>
                <class>MGS_Brand_Helper</class>
            </brand>
        </helpers>
        <events>
            <admin_system_config_changed_section_brand>
                <observers>
                    <brand_config_changed_section_brand>
                        <type>singleton</type>
                        <class>brand/observer</class>
                        <method>configChangedSectionBrand</method>
                    </brand_config_changed_section_brand>
                </observers>
            </admin_system_config_changed_section_brand>
        </events>
    </global>
    <default>
        <brand>
            <general>
                <!--                <add_to_topmenu>0</add_to_topmenu>-->
                <add_to_toplinks>1</add_to_toplinks>
                <title_link>Shop By Brand</title_link>
            </general>
            <widget>
                <load_jquery>1</load_jquery>
                <load_slider>1</load_slider>
            </widget>
            <page>
                <url_key>brand</url_key>
                <title>Shop By Brand</title>
                <template_list>1column</template_list>
                <template_view>2columns-left</template_view>
                <layered_navigation_view>top-left</layered_navigation_view>
                <icon_width>150</icon_width>
                <icon_height>150</icon_height>
                <image_width>800</image_width>
                <image_height>500</image_height>
                <show_breadcrumbs>1</show_breadcrumbs>
            </page>
            <product>
                <show_brand>1</show_brand>
                <show_related_products>1</show_related_products>
                <related_products_limit>8</related_products_limit>
                <related_products_sort_by>random</related_products_sort_by>
                <related_products_sort_dir>ASC</related_products_sort_dir>
            </product>
        </brand>
    </default>
</config>