<?xml version="1.0"?>
<config>
  <modules>
    <MGS_Profiles>
      <version>0.1.2</version>
    </MGS_Profiles>
  </modules>
  <frontend>
    <routers>
      <profiles>
        <use>standard</use>
          <args>
            <module>MGS_Profiles</module>
            <frontName>profiles</frontName>
          </args>
      </profiles>
    </routers>
		<layout>
		  <updates>
			<profiles>
			  <file>profiles.xml</file>
			</profiles>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <profiles>
        <class>MGS_Profiles_Helper</class>
      </profiles>
    </helpers>
	<blocks>
	  <profiles>
		<class>MGS_Profiles_Block</class>
	  </profiles>
	</blocks>
	<models>
	  <profiles>
		<class>MGS_Profiles_Model</class>
		<resourceModel>profiles_mysql4</resourceModel>
	  </profiles>
	  <profiles_mysql4>
		<class>MGS_Profiles_Model_Mysql4</class>
		<entities>		  
			  <profile>
				<table>mgs_profiles</table>
			  </profile>
        </entities>
	  </profiles_mysql4>
	</models>
	<resources>
	  <profiles_setup>
		<setup>
		  <module>MGS_Profiles</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </profiles_setup>
	  <profiles_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </profiles_write>
	  <profiles_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </profiles_read>
	</resources>
  </global>
  <admin>
	<routers>
		<adminhtml>
			<args>
				<modules>
					<MGS_Profiles after="Mage_Adminhtml">MGS_Profiles_Adminhtml</MGS_Profiles>
				</modules> 
			</args>
		</adminhtml>
	</routers>
  </admin>
  <adminhtml>
	<menu>
		<mgscore module="mgscore"> 
			<children>
				<profiles module="profiles">
					<title>Profiles</title>
					<sort_order>1100</sort_order>     
					<action>adminhtml/profile</action>
				</profiles>
			</children>
		</mgscore>
	</menu>
	<acl>
		<resources>
			<admin>
				<children>
					<mgscore module="mgscore"> 
						<children>
							<profiles module="profiles">
								<title>Profiles</title>
								<sort_order>1100</sort_order>
							</profiles>
						</children>
					</mgscore>
				</children>
			</admin>
		</resources>
	</acl>
	<layout>
	  <updates>
		<profiles>
		  <file>profiles.xml</file>
		</profiles>
	  </updates>
	</layout>
  </adminhtml>
</config> 