<?xml version="1.0"?>
<config>
	<modules>
		<Dutra_Cielo>
			<version>1.0.0</version>
		</Dutra_Cielo>
	</modules>
	<global>
		<models>
			<dutra_cielo>
				<class>Dutra_Cielo_Model</class>
			</dutra_cielo>
		</models>
		<blocks>
			<dutra_cielo>
				<class>Dutra_Cielo_Block</class>
			</dutra_cielo>
		</blocks>
		<resources>
			<dutra_cielo_setup>
				<setup>
					<module>Dutra_Cielo</module>
				</setup>
			</dutra_cielo_setup>
		</resources>
		<fieldsets>
			<sales_convert_quote_payment>
				<cc_installments>
					<to_order_payment>*</to_order_payment>
				</cc_installments>
			</sales_convert_quote_payment>
			<sales_convert_order_payment>
				<cc_installments>
					<to_quote_payment>*</to_quote_payment>
				</cc_installments>
			</sales_convert_order_payment>
		</fieldsets>
		<payment>
			<cc>
				<types>
					<DN>
						<code>DN</code>
                        <name>Diners Club</name>
                        <order>100</order>
                    </DN>
					<EL>
						<code>EL</code>
                        <name>Elo</name>
                        <order>110</order>
                    </EL>
                </types>
            </cc>
        </payment>
	</global>
	<frontend>
		<translate>
            <modules>
                <dutra_cielo>
                    <files>
                        <default>Dutra_Cielo.csv</default>
                    </files>
                </dutra_cielo>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
		<translate>
            <modules>
                <dutra_cielo>
                    <files>
                        <default>Dutra_Cielo.csv</default>
                    </files>
                </dutra_cielo>
            </modules>
        </translate>
	</adminhtml>
	<default>
		<payment>
			<dutra_cielo>
				<payment_action>authorize</payment_action>
				<order_status>authorized</order_status>
				<model>Dutra_Cielo_Model_Cielo</model>
				<environment>teste</environment>
				<title><![CDATA[Cartão de crédito]]></title>
				<maxinstallments>10</maxinstallments>
			</dutra_cielo>
		</payment>
	</default>
</config>
