<?xml version="1.0"?>
<!--
/******************************************************
 * Package   : ProductQuestions
 * Author    : http://www.arrowhitech.com
 * Copyright : (c) 2013 - ArrowHiTech.Com
*******************************************************/
-->
<config>
    <modules>
        <MGS_ProductQuestions>
            <version>0.1.0</version>
        </MGS_ProductQuestions>
    </modules>
    <frontend>
        <routers>
            <productquestions>
                <use>standard</use>
                <args>
                    <module>MGS_ProductQuestions</module>
                    <frontName>productquestions</frontName>
                </args>
            </productquestions>
        </routers>
        <layout>
            <updates>
                <productquestions>
                    <file>productquestions.xml</file>
                </productquestions>
            </updates>
        </layout>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<MGS_ProductQuestions after="Mage_Adminhtml">MGS_ProductQuestions_Adminhtml</MGS_ProductQuestions>
					</modules> 
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productquestions>
                    <file>productquestions.xml</file>
                </productquestions>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <productquestions>
                <class>MGS_ProductQuestions_Model</class>
                <resourceModel>productquestions_mysql4</resourceModel>
            </productquestions>
            <productquestions_mysql4>
                <class>MGS_ProductQuestions_Model_Mysql4</class>
                <entities>
                    <topic>
                        <table>mgs_qa_topics</table>
                    </topic>
                    <question>
                        <table>mgs_qa_questions</table>
                    </question>
                    <sharing>
                        <table>mgs_qa_sharing</table>
                    </sharing>
                    <answer>
                        <table>mgs_qa_answers</table>
                    </answer>
                </entities>
            </productquestions_mysql4>
        </models>
        <resources>
            <productquestions_setup>
                <setup>
                    <module>MGS_ProductQuestions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productquestions_setup>
            <productquestions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productquestions_write>
            <productquestions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productquestions_read>
        </resources>
        <blocks>
            <productquestions>
                <class>MGS_ProductQuestions_Block</class>
            </productquestions>
        </blocks>
        <helpers>
            <productquestions>
                <class>MGS_ProductQuestions_Helper</class>
            </productquestions>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <productquestions>
                        <class>MGS_ProductQuestions_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </productquestions>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <default>
        <productquestions>
            <general>
                <active>0</active>                
            </general>
            <question_email>
                <active>0</active>                                
            </question_email>
            <faqs_page>
                <title>FAQs</title>
                <url_key>faqs</url_key>                
<!--                <number_of_questions_per_page>10</number_of_questions_per_page>-->
                <accordition>1</accordition>
                <sort_by>score</sort_by>
            </faqs_page>
            <faqs_block>
                <active>0</active>
                <block_title>FAQs</block_title>
                <number_of_topics>10</number_of_topics>                
            </faqs_block>
            <recaptcha>
                <enabled>0</enabled>                                
            </recaptcha>            
        </productquestions>
    </default>
</config>