<?xml version="1.0"?>
<!--
/******************************************************
 * Package   : Event
 * Author    : HIEPNH
 * Copyright : (c) 2014
*******************************************************/
-->
<config>
    <modules>
        <MGS_Event>
            <version>0.1.2</version>
        </MGS_Event>
    </modules>
    <frontend>
        <routers>
            <event>
                <use>standard</use>
                <args>
                    <module>MGS_Event</module>
                    <frontName>event</frontName>
                </args>
            </event>
        </routers>
        <layout>
            <updates>
                <event>
                    <file>mgs_event.xml</file>
                </event>
            </updates>
        </layout>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<MGS_Event after="Mage_Adminhtml">MGS_Event_Adminhtml</MGS_Event>
					</modules> 
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <event>
                    <file>mgs_event.xml</file>
                </event>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <event>
                <class>MGS_Event_Model</class>
                <resourceModel>event_mysql4</resourceModel>
            </event>
            <event_mysql4>
                <class>MGS_Event_Model_Mysql4</class>
                <entities>
                    <event>
                        <table>mgs_event</table>
                    </event>
                    <store>
                        <table>mgs_event_store</table>
                    </store>
                </entities>
            </event_mysql4>
        </models>
        <resources>
            <event_setup>
                <setup>
                    <module>MGS_Event</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </event_setup>
            <event_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </event_write>
            <event_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </event_read>
        </resources>
        <blocks>
            <event>
                <class>MGS_Event_Block</class>
            </event>
        </blocks>
        <helpers>
            <event>
                <class>MGS_Event_Helper</class>
            </event>
        </helpers>
        <events>
            <admin_system_config_changed_section_event>
                <observers>
                    <event_config_changed_section_event>
                        <type>singleton</type>
                        <class>event/observer</class>
                        <method>configChangedSectionEvent</method>
                    </event_config_changed_section_event>
                </observers>
            </admin_system_config_changed_section_event>
        </events>
    </global>
    <default>
        <event>
            <general>
                <active>1</active>
                <router>event</router>
            </general>
        </event>
    </default>
</config>