<?xml version="1.0"?>
<config>
    <modules>
        <MGS_Maintanance>
            <version>1.0.0</version>
        </MGS_Maintanance>
    </modules>
    <frontend>
        <routers>
            <maintanance>
                <use>standard</use>
                <args>
                    <module>MGS_Maintanance</module>
                    <frontName>maintanance</frontName>
                </args>
            </maintanance>
        </routers>
        <layout>
            <updates>
                <maintanance>
                    <file>mgs_maintanance.xml</file>
                </maintanance>
            </updates>
        </layout>        
    </frontend>
    <admin>
        <routers>
            <maintanance>
                <use>admin</use>
                <args>
                    <module>MGS_Maintanance</module>
                    <frontName>maintanance</frontName>
                </args>
            </maintanance>
        </routers>
    </admin>
    <adminhtml>        
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <MGS_Maintanance>
                            <title>Maintanance</title>
                            <sort_order>10</sort_order>
                        </MGS_Maintanance>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <maintanance>
                                            <title>Maintanance</title>
                                        </maintanance>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <maintanance>
                    <file>mgs_maintanance.xml</file>
                </maintanance>
            </updates>
        </layout>        
    </adminhtml>   
    <global>
        <models>
            <maintanance>
                <class>MGS_Maintanance_Model</class>                
            </maintanance>            
        </models>
        <resources>
            <maintanance_setup>
                <setup>
                    <module>MGS_Maintanance</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </maintanance_setup>
            <maintanance_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </maintanance_write>
            <maintanance_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </maintanance_read>
        </resources>
        <blocks>
            <maintanance>
                <class>MGS_Maintanance_Block</class>
            </maintanance>
        </blocks>
        <helpers>
            <maintanance>
                <class>MGS_Maintanance_Helper</class>
            </maintanance>
        </helpers>        
        <events>
            <controller_front_init_routers>
                <observers>
                    <mgs_maintanance>
                        <type>singleton</type>
                        <class>maintanance/observer</class>
                        <method>initControllerRouters</method>
                    </mgs_maintanance>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <default>
        <maintanance>
            <general>
                <allowforadmin>1</allowforadmin>
                <logFileName>mgs_maintenance.log</logFileName>
                <maintenanceHtml><![CDATA[
                <div id="header" class="clearfix">
                <div class="container">
                <h2>We are sorry, this site is down for maintenance</h2>
                <p>Lorem ipsum dolor sit amet, mea porro commodo delectus ad, malorum ceteros aliquando cu sit. Menandri partiendo salutatus sed te, ne gubergren ullamcorper ius. Sit purto justo ei. Ut affert fabellas eam, ius oblique moderatius eu, quo at clita omnes volumus.</p>
                </div>
                </div>]]>       
                </maintenanceHtml>                
            </general>            
        </maintanance>
    </default>    
</config>