<?xml version="1.0"?>
<config>
    <sections>
        <maintanance translate="label" module="maintanance">
            <label>Maintenance</label>
            <tab>mgscore</tab>
            <frontend_type>text</frontend_type>
            <sort_order>998</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Maintenance Setup</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Site Maintenance</label>
                            <comment>Enable or disable site maintenance.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <allowforadmin translate="label">
                            <label>Allow Frontend For Admin</label>
                            <comment>Frontend is allow for logged admin user.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowforadmin>                                                 
                        <page_title translate="label">
                            <label>Page Title</label>
                            <comment>Add site maintenance page title.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </page_title>                        
                        <logFileName translate="label">
                            <label>Log File</label>
                            <comment>Create log file to know who access while site is under maintenance mode.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logFileName>
                        <maintenanceHtml translate="label">
                            <label>Maintenance Page HTML</label>
                            <comment>Show this html content when site is under maintanance.</comment>
                            <frontend_type>editor</frontend_type>
                            <frontend_model>maintanance/adminhtml_system_config_editor</frontend_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </maintenanceHtml>                        
                    </fields>
                </general>
                <timer translate="label">
                    <label>Timer Setup</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <timer_enabled translate="label">
                            <label>Timer</label>
                            <comment>Enable or disable timer.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </timer_enabled>                        
                        <!--<site_enabled translate="label">
                            <label>Make Site Live When Timer Expires</label>
                            <comment>Select yes to make site live when timer expires.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </site_enabled>-->
                        <timer_text translate="label">
                            <label>Timer Text</label>
                            <comment>Add text for timer.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </timer_text>
                        <timer_date translate="label">
                            <label>Date</label>
                            <comment>Add date for set timer.</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>maintanance/adminhtml_system_config_date</frontend_model> 
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <depends>
                                <timer_enabled>1</timer_enabled>
                            </depends>
                        </timer_date>
                        <timer_hour translate="label">
                            <label>Hour</label>
                            <comment>Add hour in 24-hour format when you want to finish timer.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <depends>
                                <timer_enabled>1</timer_enabled>
                            </depends>
                        </timer_hour>
                        <timer_min translate="label">
                            <label>Minute</label>
                            <comment>Add minute when you want to finish timer.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <depends>
                                <timer_enabled>1</timer_enabled>
                            </depends>
                        </timer_min>                        
                    </fields>
                </timer>                
            </groups>
        </maintanance>
    </sections>
</config>