<?xml version="1.0"?>
<config>
    <modules>
        <MGS_Abrands>
            <version>0.1.0</version>
        </MGS_Abrands>
    </modules>
    <frontend>
        <routers>
            <abrands>
                <use>standard</use>
                <args>
                    <module>MGS_Abrands</module>
                    <frontName>abrands</frontName>
                </args>
            </abrands>
        </routers>
        <layout>
            <updates>
                <abrands>
                    <file>abrands.xml</file>
                </abrands>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<abrands>
				<use>admin</use>
				<args>
					<module>MGS_Abrands</module>
					<frontName>abrands</frontName>
				</args>
			</abrands>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<mgscore module="mgscore"> 
				<children>
					<brands>
						<title>Brands</title>
						<sort_order>72</sort_order>
						<action>abrands/adminhtml_abrands</action>
					</brands>
				</children>
			</mgscore>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<mgscore module="mgscore"> 
							<children>
								<brands module="megamenu">
									<title>Brands</title>
									<sort_order>72</sort_order>
								</brands>
							</children>
						</mgscore>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<abrands>
					<file>abrands.xml</file>
				</abrands>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
			<catalog>
                <rewrite>
                    <product>MGS_Abrands_Model_Product</product>
                </rewrite>
            </catalog>
            <abrands>
                <class>MGS_Abrands_Model</class>
                <resourceModel>abrands_mysql4</resourceModel>
            </abrands>
            <abrands_mysql4>
                <class>MGS_Abrands_Model_Mysql4</class>
                <entities>
                    <abrands>
                        <table>abrands</table>
                    </abrands>
                </entities>
            </abrands_mysql4>
        </models>
        <resources>
            <abrands_setup>
                <setup>
                    <module>MGS_Abrands</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </abrands_setup>
            <abrands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </abrands_write>
            <abrands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </abrands_read>
        </resources>
        <blocks>
            <abrands>
                <class>MGS_Abrands_Block</class>
            </abrands>
        </blocks>
        <helpers>
            <abrands>
                <class>MGS_Abrands_Helper</class>
            </abrands>
        </helpers>
    </global>
</config>