<?xml version="1.0"?>
<config>
    <modules>
        <MGS_Promobanners>
            <version>0.1.2</version>
        </MGS_Promobanners>
    </modules>
    <frontend>
        <routers>
            <promobanners>
                <use>standard</use>
                <args>
                    <module>MGS_Promobanners</module>
                    <frontName>promobanners</frontName>
                </args>
            </promobanners>
        </routers>
        <layout>
            <updates>
                <promobanners>
                    <file>promobanners.xml</file>
                </promobanners>
            </updates>
        </layout>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<MGS_Promobanners after="Mage_Adminhtml">MGS_Promobanners_Adminhtml</MGS_Promobanners>
					</modules> 
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<mgscore module="mgscore"> 
				<children>
					<promobanners module="promobanners">
						<title>Promo Banners</title>
						<sort_order>1200</sort_order>
						<action>adminhtml/promobanners</action>
					</promobanners>
				</children>
			</mgscore>
		</menu>
    </adminhtml>   
    <global>
        <models>
            <promobanners>
                <class>MGS_Promobanners_Model</class>
                <resourceModel>promobanners_mysql4</resourceModel>
            </promobanners>
            <promobanners_mysql4>
                <class>MGS_Promobanners_Model_Mysql4</class>
                <entities>
                    <promobanners>
                        <table>mgs_promobanners</table>
                    </promobanners>
                </entities>
            </promobanners_mysql4>
        </models>
        <resources>
            <promobanners_setup>
                <setup>
                    <module>MGS_Promobanners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promobanners_setup>
            <promobanners_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promobanners_write>
            <promobanners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promobanners_read>
        </resources>
        <blocks>
            <promobanners>
                <class>MGS_Promobanners_Block</class>
            </promobanners>
        </blocks>
        <helpers>
            <promobanners>
                <class>MGS_Promobanners_Helper</class>
            </promobanners>
        </helpers>
    </global>
</config>